<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="FONTEEntitiesDias" connectionString="metadata=res://*/LoadDays.csdl|res://*/LoadDays.ssdl|res://*/LoadDays.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.108.16\SQLEXPRESS;initial catalog=FONTE;user id=sa;password=Sigm@-1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FONTEEntitiesHoras" connectionString="metadata=res://*/Gethoras.csdl|res://*/Gethoras.ssdl|res://*/Gethoras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.108.16\SQLEXPRESS;initial catalog=FONTE;user id=sa;password=Sigm@-1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FONTEEntities" connectionString="metadata=res://*/ModelGetASB.csdl|res://*/ModelGetASB.ssdl|res://*/ModelGetASB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.108.16\SQLEXPRESS;initial catalog=FONTE;persist security info=True;user id=sa;password=Sigm@-1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FONTEEntitiesHorasASB" connectionString="metadata=res://*/ModelGetHorasASB.csdl|res://*/ModelGetHorasASB.ssdl|res://*/ModelGetHorasASB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.108.16\SQLEXPRESS;initial catalog=FONTE;persist security info=True;user id=sa;password=Sigm@-1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>