<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="2.1.9" targetFramework="net46" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="itext7" version="7.1.11" targetFramework="net46" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net46" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net46" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net46" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net46" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net35" requireReinstallation="true" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net46" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net35" requireReinstallation="true" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net35" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net46" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net46" />
</packages>